/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

#login-button 
{
    float: right;
    border: 0px;
    background-color: transparent;
    border-radius: 7px;
}

#login-button:hover
{
    background-color: rgba(0, 0, 0, 0.20);
}

.username {
    font-family: 'Palatino Linotype', Candara, 'Bookman Old Style', Garamond, 'Courier New', sans-serif;
    font-size: larger;
    display: block;
    max-width: initial;
    height: auto;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    line-height: 120%;
    color: darkorange;
    text-decoration: none;
}

.username:hover,
.username:focus {
    background-color: rgba(0, 0, 0, 0.20);
    text-decoration: none;
}

.inline
{
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
}

.follow {
    font-family: 'Palatino Linotype', Candara, 'Bookman Old Style', Garamond, 'Courier New', sans-serif;
    display: block;
    font-size: medium;
    max-width: initial;
    height: auto;
    background-color: teal;
    padding: 10px;
    border-radius: 5px;
    line-height: 120%;
    color: #ffc107;
    text-decoration: none;
}

.follow:hover,
.follow:focus {
    background-color: rgba(0, 0, 0, 0.20);
    text-decoration: none;
    color: teal;
}
#progress-bar {
    background: linear-gradient(to right, red, orange, yellow, lightseagreen,deepskyblue, springgreen)
}

.changeable {
    float: right;
    max-width: max-content;
}
