@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bouffage</h1>
    <p>Please consider <a asp-action="OpenLogin" asp-controller="Home">Logging in</a> or <a asp-action="SignUp" asp-controller="Users">Signing up</a>.</p>
</div>
